@import "tailwindcss";

@plugin "@tailwindcss/typography";


@custom-variant dark (&:where(.dark &) );


@theme inline {
  --shadow-aceternity:
    0px 2px 3px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);

  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-gray-500);
}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-gray-400);
}
